<h1>Beer Stock</h1>

<p *ngIf="!beersStock"><em>Loading...</em></p>

<div class="container" *ngIf="beersStock">
    <div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature" *ngFor="let beer of beersStock">
                <div class="thumbnail">
                    <img src="/image/{{beer.imagePath}}" alt="">
                    <div class="caption">
                        <h3>{{beer.title}}</h3>
                        <p>{{beer.description}}</p>
                        <p>ABV: {{beer.abv}}</p>
                        <p>
                            <a href="#" class="btn btn-primary">Order</a> <span href="#" class="btn {{beer.isInStock ? 'btn-default' : 'btn-warning'}}">{{beer.isInStock ? 'In Stock' : 'Low Stock'}}</span>
                        </p>
                    </div>
                </div>
            </div>
</div>
</div>